/* Set universal selector */
* {
    font-family: sans-serif;
    text-align: center;
}

/* Stylize p element */
p {
    font-weight: bold;
}

/* Stylize the #start-quiz button */
#start-quiz {
    background-color: #351c75;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-weight: none;
    padding: 9px;
    width: 7em;
}

#start-quiz:hover {
    background-color: rgb(197, 106, 233);
    cursor: pointer;
    transition: all 0.25s ease-in;
}